@media only screen and (max-width: 1366px) {
  .pagination1 {
    height: 40px;
    width: 100%;
    background-color: #334a52 !important;
  }
  .left-action {
    width: 69%;
    margin-left: 2px;
  }
  .rigth-action {
    width: 29%;
  }
  .right-action ul li {
    height: 33px;
    margin-top: 4px;
  }
  .num-filter {
    padding: 0px !important;
    padding-top: 20px;
  }
  .num-filter span {
    margin-top: 3px;
    padding-top: 5px;
  }
}
/* Big tablet to 1200px (widths smaller taht the 1140px row) */
@media only screen and (max-width: 1200px) {
}

/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
}
