* {
  padding: 0;
  margin: 0;
}
.header {
  float: left;
  width: 100%;
  height: 50px;
  background-color: #053541;
}
body {
  font-family: "Roboto", sans-serif;
  font-family: "Hanuman", serif;
  background-color: #e7e6e6;
}
.left-header {
  width: 17%;
  float: left;
  height: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
/*!      right-header code ...............................................*/
.right-header {
  width: 82%;
  height: 100%;
  float: left;
  border-left: 1px solid #919191;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.right-header .title {
  float: left;
  width: 50%;
  padding-top: 1%;
  padding-left: 10px;
}
.right-header .title span {
  font-family: "Roboto", sans-serif;
  color: #fff;
  letter-spacing: 1px;
}
.right-header .user-email {
  width: 35%;
  padding-top: 14px;
  text-align: right;
  float: left;
  color: white;
  font-family: "Roboto", "sans-serif";
}
.right-header .user-icon {
  width: 5%;
  float: right;
  padding: 10px;
  padding-top: 0.7%;
}
.right-header .user-icon ul li {
  float: right;
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  overflow: hidden;
}
.right-header .user-icon ul li img {
  width: 100%;
  height: 100%;
}
.right-header i {
  padding: 17px 15px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  float: left;
}
.right-header i:hover {
  opacity: 0.8;
}
/*! end right header code............................................................ */
.main-content {
  width: 100%;
}
.left-menu {
  width: 17%;
  height: 100%;
  position: fixed;
  top: 50px;
  background-color: #334a52;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.menu ul li {
  padding: 10px 20px;
  color: rgb(245, 245, 245);
  font-family: "Roboto", sans-serif;
  letter-spacing: 1.5px;
  font-size: 16px;
  border-bottom: 1px solid #919191;
  cursor: pointer;
}
.menu ul li .arrow-down-right {
  float: right;
}
.menu ul li:hover {
  background-color: #476174 !important;
}
.content {
  width: 100%;
}
.submenu,
.small-submenu {
  background-color: #538392;
  display: none;
}
.submenu ul,
.small-submenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.submenu ul li,
.small-submenu ul li {
  padding: 10px 40px;
  cursor: pointer;
}
.small-left-menu {
  display: none;
  width: 48px;
  height: 100%;
  position: fixed;
  top: 50px;
  background-color: #334a52;
}
.menu-icon ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.left-menu,
.left-header {
  min-width: 260px;
}
.menu-icon ul li {
  padding: 15px 13px;
  color: #fff;
  font-size: 22px;
  border-bottom: 1px solid #919191;
  cursor: pointer;
}
.menu-icon ul li:hover {
  background-color: #476174 !important;
}
