* {
  padding: 0;
  margin: 0;
}
.header {
  float: left;
  width: 100%;
  height: 50px;
  background-color: #053541;
}
body {
  font-family: "Roboto", sans-serif;
  font-family: "Hanuman", serif;
  background-color: #e7e6e6;
}
.left-header {
  width: 17%;
  float: left;
  height: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
/*!      right-header code ...............................................*/
.right-header {
  width: 82%;
  height: 100%;
  float: left;
  border-left: 1px solid #919191;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.right-header .title {
  float: left;
  width: 50%;
  padding-top: 1%;
  padding-left: 10px;
}
.right-header .title span {
  font-family: "Roboto", sans-serif;
  color: #fff;
  letter-spacing: 1px;
}
.right-header .user-email {
  width: 35%;
  padding-top: 14px;
  text-align: right;
  float: left;
  color: white;
  font-family: "Roboto", "sans-serif";
}
.right-header .user-icon {
  width: 5%;
  float: right;
  padding: 10px;
  padding-top: 0.7%;
}
.right-header .user-icon ul li {
  float: right;
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  overflow: hidden;
}
.right-header .user-icon ul li img {
  width: 100%;
  height: 100%;
}
.right-header i {
  padding: 17px 15px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  float: left;
}
.right-header i:hover {
  opacity: 0.8;
}
/*! end right header code............................................................ */
.main-content {
  float: left;
  width: 100%;
}
.left-menu {
  width: 17%;
  height: 100%;
  position: fixed;
  top: 50px;
  background-color: #334a52;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.menu ul li {
  padding: 10px 20px;
  color: rgb(245, 245, 245);
  font-family: "Roboto", sans-serif;
  letter-spacing: 1.5px;
  font-size: 16px;
  border-bottom: 1px solid #919191;
  cursor: pointer;
}
.menu ul li .arrow-down-right {
  float: right;
}
.menu ul li:hover {
  background-color: #476174 !important;
}
.content {
  width: 83%;
  transition: 0.3s;
  float: right;
  padding: 2px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.left-action {
  background-color: #334a52;
  height: 40px;
  width: 69.8%;
  border-left: 2px solid #fff;
  float: left;
}
.left-action ul,
.right-action ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.left-action ul li {
  /*padding: 5px 10px;
  */
  margin-top: 3px;
  border-radius: 3px;
  margin-left: 10px;
  cursor: pointer;
  width: 70px;
  color: #fff;
  background-color: rgb(45, 111, 115);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.right-action {
  background-color: #334a52;
  height: 40px;
  width: 30%;
  float: right;
}

.right-action ul li {
  margin-top: 4px;
  background-color: rgb(45, 111, 115);
  cursor: pointer;
  width: 35px;
  padding: 0px;
  margin-left: 20px;
  float: left;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.num-filter {
  padding: 1.5px !important;
  width: 100px !important;
  margin-right: -10px;
  margin-left: 10px !important;
}
span{
  color: #fff !important;
  margin-left: 27px;
  
}
.x2 {
  padding-top: 5px;
  padding-left: 10px;
  font-size: 20px;
  color: #fff;
}
.right-action ul li select {
  padding: 6.8px;
  border-radius: 3px;
  background-color: rgb(45, 111, 115);
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.submenu,
.small-submenu {
  background-color: #538392;
  display: none;
}
.submenu ul,
.small-submenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.submenu ul li,
.small-submenu ul li {
  padding: 10px 40px;
  cursor: pointer;
}
.small-left-menu {
  display: none;
  width: 48px;
  height: 100%;
  position: fixed;
  top: 50px;
  background-color: #334a52;
}
.menu-icon ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.menu-icon ul li {
  padding: 15px 13px;
  color: #fff;
  font-size: 22px;
  border-bottom: 1px solid #919191;
  cursor: pointer;
}
.menu-icon ul li:hover {
  background-color: #476174 !important;
}
/* ! ============== user box ================ */
.user-box {
  display: none;
  width: 330px;
  height: 180px;
  top: 46px;
  right: 22px;
  position: absolute;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0px 1px 2px 1px #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  overflow: hidden;
}
.user-box .profile-box {
  width: 100%;
  height: 130px;
}
.user-box .profile-box .profile {
  width: 40%;
  float: left;
}
.user-box .profile-box .profile .profile-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 20% 20%;
}
.user-box .profile-box .profile .profile-image img {
  width: 100%;
  height: 100%;
}
.user-box .profile-box .user-detail {
  padding-top: 35px;
  width: 60%;
  float: left;
}
.user-box .profile-box .user-detail span {
  font-family: "roboto";
  font-size: 16px;
  font-weight: bold;
}
.user-box .profile-box .user-detail p {
  margin-top: -10px;
}
.user-box .activity-box {
  width: 100%;
  height: 60px;
  float: left;
  background-color: #f5f5f5;
  border-top: 1px solid #ccc;
}
.user-box .activity-box .btnChange {
  float: left;
  margin-left: 5px;
  margin-top: 5px;
}
.user-box .activity-box .btnSignout {
  float: right;
  margin-top: 5px;
  margin-right: 5px;
}
.user-box .activity-box .btnSignout,
.user-box .activity-box .btnChange {
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  padding: 3px 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.user-box .activity-box .btnSignout:hover,
.user-box .activity-box .btnChange:hover {
  background: #c6c8c9;
}
